<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>最新消息</string>
	<string>工作機會</string>
	<string>系友登錄</string>
	<string>相片集錦</string>
	<string>捐款節稅</string>
	<string>組織章程</string>
</array>
</plist>
